Repository vlad-iakovlev/expense: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

pre-commit:
  commands:
    compile:
      run: npm run compile
    lint:
      glob: '*.{js,mjs,ts,mts,tsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{js,mjs,ts,mts,tsx,md,json}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

chore: npm update
  package-lock.json
Due: prettier

chore: npm update (#472)
  package-lock.json
Due: prettier

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: npm update (#474)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#475)
  package-lock.json
Due: prettier

chore: npm update (#476)
  package-lock.json
  package.json
Due: prettier

chore(ci): add buildx and disable deployment
  .github/workflows/ci.yml
Due: none

chore(ci): fix mutli-platform build
  .github/workflows/ci.yml
Due: none

chore(ci): remove extra arch from outputs
  .github/workflows/ci.yml
Due: none

chore: remove SHADOW_DATABASE_URL
  .env.default
  prisma/schema.prisma
Due: none

chore: fix Dockerfile warnings
  Dockerfile
Due: none

chore: fix build error
  Dockerfile
Due: none

chore: npm update (#477)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#479)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#480)
  package-lock.json
  package.json
Due: prettier

chore: use linked strategy and fix eslint version
  .github/workflows/update.yml
  .npmrc
  package-lock.json
  package.json
Due: prettier

chore: add missing deps
  package-lock.json
  package.json
Due: prettier

chore: npm update (#487)
  package-lock.json
  package.json
Due: prettier

chore: remove install-strategy=linked
  .npmrc
  package-lock.json
  package.json
Due: prettier

chore: revert update command
  .github/workflows/update.yml
Due: none

chore: npm update (#493)
  package-lock.json
Due: prettier

chore: update to next 16
  components/common/Card/DateTime.tsx
  components/common/Card/Input.tsx
  components/common/Card/index.tsx
  components/common/Dialog.tsx
  components/common/ExternalLink.tsx
  components/common/PieChart/index.tsx
  eslint.config.mts
  next.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
  tsconfig.json
Due: lint, prettier

chore: remove extra eslint rule
  eslint.config.mts
Due: lint, prettier

chore: use @vlad-iakovlev/eslint-config
  eslint.config.mts
  package-lock.json
  package.json
Due: lint, prettier

chore: update eslint
  package-lock.json
  package.json
Due: prettier

chore: update versions in workflows
  .github/workflows/ci.yml
  .github/workflows/update.yml
Due: none

chore: npm update (#494)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#495)
  package-lock.json
Due: prettier
