Repository vlad-iakovlev/expense: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: npm update (#343)
  package-lock.json
  package.json
Due: prettier

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: npm update (#344)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#345)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#349)
  package-lock.json
  package.json
Due: prettier

chore: npm update
  package-lock.json
Due: prettier

chore: npm update (#352)
  package-lock.json
Due: prettier

chore: npm update (#354)
  package-lock.json
  package.json
Due: prettier

chore: tell dependabot to not update next
  .github/dependabot.yml
Due: none

chore: update uuid
  package-lock.json
  package.json
Due: prettier

chore: npm update (#358)
  package-lock.json
  package.json
Due: prettier

chore: fix json imports
  contexts/RootStore/utils.ts
  pages/_document.tsx
Due: lint, prettier

chore(deps): update
  components/common/Dialog.tsx
  package-lock.json
  package.json
Due: lint, prettier

chore: npm update (#359)
  components/common/Dialog.tsx
  contexts/RootStore/utils.ts
  package-lock.json
  package.json
  pages/_document.tsx
Due: lint, prettier

fix(deps): downgrade prisma
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier

chore(deps): do not update react
  .github/dependabot.yml
Due: none

chore(deps): update prisma
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier

chore(docker): add missing openssl
  Dockerfile
Due: none

chore(docker): update comment
  Dockerfile
Due: none

chore(docker): fix openssl
  Dockerfile
Due: none

chore: npm update (#374)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#376)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#377)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#378)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#379)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#381)
  package-lock.json
  package.json
Due: prettier

Path conditions:
  lint: any of: *.{js,ts,tsx}
  prettier: any of: *.{js,ts,tsx,md,json}
