Repository vlad-iakovlev/expense: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

pre-commit:
  commands:
    compile:
      run: npm run compile
    lint:
      glob: '*.{js,mjs,ts,mts,tsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{js,mjs,ts,mts,tsx,md,json}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

fix: proxy parameters
  packages/client/vite.config.mts
Due: lint, prettier

chore: shutdown gracefully
  packages/server/bin/index.ts
Due: lint, prettier

fix: google avatars
  packages/client/src/components/common/Avatar/index.tsx
Due: lint, prettier

fix: client routing
  packages/client/generated/routeTree.ts
  packages/client/src/components/cards/GroupCreate/index.tsx
  packages/client/src/components/cards/GroupMembers/Delete.tsx
  packages/client/src/components/cards/GroupSettingsGeneral/Delete.tsx
  packages/client/src/components/cards/OperationInfo/Delete.tsx
  packages/client/src/components/cards/OperationsList/Add.tsx
  packages/client/src/components/cards/WalletSettingsGeneral/Delete.tsx
  packages/client/src/components/cards/WalletsList/Add.tsx
  packages/client/src/routes/group.$groupId.index.tsx
  packages/client/src/routes/group.$groupId.settings.tsx
  packages/client/src/routes/invites.$token.tsx
  packages/client/src/routes/operation.$operationId.tsx
  packages/client/src/routes/wallet.$walletId.index.tsx
  packages/client/src/routes/wallet.$walletId.settings.tsx
Due: lint, prettier

feat: add serwist
  package-lock.json
  package.json
  packages/client/package.json
  packages/client/src/components/common/Avatar/index.tsx
  packages/client/src/main.tsx
  packages/client/src/sw.ts
  packages/client/src/vite-env.d.ts
  packages/client/tsconfig.json
  packages/client/vite.config.mts
  packages/server/package.json
  tsconfig.json
Due: lint, prettier

chore: do not split code
  packages/client/vite.config.mts
Due: lint, prettier

chore: fix eslint
  eslint.config.mts
  lefthook.yml
  next.config.mjs
  package-lock.json
  packages/client/tsconfig.json
  packages/generators/package.json
  packages/generators/tsconfig.json
  packages/prisma/package.json
  packages/prisma/tsconfig.json
  packages/schemas/tsconfig.json
  tsconfig.json
Due: lint, prettier

chore: fix prettier patterns
  lefthook.yml
  package.json
Due: prettier

fix: button hover colors
  packages/client/src/components/common/Button/index.tsx
Due: lint, prettier

chore: cleanup ignore files
  .dockerignore
  .gitignore
Due: none

feat: update docker
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  docker/backend-entrypoint.sh
  docker/nginx.conf
  package.json
Due: prettier

fix: local docker build
  .github/workflows/ci.yml
  docker-compose.yml
  docker/nginx.conf
  package-lock.json
  packages/client/src/sw.ts
  packages/server/package.json
Due: lint, prettier

chore: cleanup deps
  package-lock.json
  package.json
  packages/client/package.json
  packages/server/package.json
Due: prettier

fix: build in CI
  .github/workflows/ci.yml
Due: none

chore: add latest tag
  .github/workflows/ci.yml
Due: none

chore: cleanup docker compose
  docker-compose.yml
Due: none

refactor: use routes in links
  packages/client/src/components/cards/GroupInfo/Settings.tsx
  packages/client/src/components/cards/GroupOpen/index.tsx
  packages/client/src/components/cards/OperationsList/Operation.tsx
  packages/client/src/components/cards/WalletInfo/Settings.tsx
  packages/client/src/components/cards/WalletsList/Wallet.tsx
  packages/client/src/components/layout/Header/Logo.tsx
Due: lint, prettier

chore: IndexRoute -> DashboardRoute
  packages/client/src/components/cards/GroupMembers/Delete.tsx
  packages/client/src/components/cards/GroupSettingsGeneral/Delete.tsx
  packages/client/src/components/cards/OperationInfo/Delete.tsx
  packages/client/src/components/layout/Header/Logo.tsx
  packages/client/src/routes/group.$groupId.index.tsx
  packages/client/src/routes/group.$groupId.settings.tsx
  packages/client/src/routes/invites.$token.tsx
  packages/client/src/routes/operation.$operationId.tsx
  packages/client/src/routes/wallet.$walletId.index.tsx
  packages/client/src/routes/wallet.$walletId.settings.tsx
Due: lint, prettier

chore: codestyle
  packages/server/routes/auth/index.ts
Due: lint, prettier

chore: update tsconfigs
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  packages/generators/package.json
  packages/prisma/package.json
  packages/schemas/package.json
  packages/server/tsconfig.json
  tsconfig.json
Due: prettier

chore: ci jobs names
  .github/workflows/ci.yml
Due: none

chore: add missing checkout
  .github/workflows/ci.yml
Due: none

chore: add missing typescript package
  package-lock.json
  packages/generators/package.json
  packages/prisma/package.json
  packages/schemas/package.json
Due: prettier

chore: npm update
  package-lock.json
  packages/client/package.json
  packages/server/package.json
Due: prettier

chore: npm update (#579)
  package-lock.json
  packages/client/package.json
  packages/server/package.json
Due: prettier

chore: install only prod packages in docker
  Dockerfile.server
  package-lock.json
  packages/prisma/package.json
Due: prettier

chore: production -> omit=dev
  Dockerfile.server
Due: none

fix: optimize useGroupedOperations
  packages/client/src/contexts/RootStore/hooks/useGroupedOperations.ts
Due: lint, prettier

chore: add missing node types to the root
  package-lock.json
  package.json
  tsconfig.json
Due: prettier

chore: npm update
  package-lock.json
  package.json
  packages/client/package.json
  packages/generators/package.json
  packages/prisma/package.json
  packages/server/package.json
Due: prettier

chore: npm update (#580)
  package-lock.json
  package.json
  packages/client/package.json
  packages/generators/package.json
  packages/prisma/package.json
  packages/server/package.json
Due: prettier

chore: update vite
  package-lock.json
  package.json
  packages/client/package.json
  packages/client/vite.config.mts
  packages/server/package.json
Due: lint, prettier

chore: npm update (#587)
  package-lock.json
  package.json
  packages/client/package.json
  packages/generators/package.json
  packages/prisma/package.json
  packages/server/package.json
Due: prettier

chore: npm update
  package-lock.json
  packages/client/package.json
Due: prettier

chore: npm update (#588)
  package-lock.json
  packages/client/package.json
Due: prettier

fix: prevent sync crash on new user accounts
  packages/schemas/sync/schemas.ts
  packages/server/routes/sync/index.ts
Due: lint, prettier

feat(client): implement inline editable titles for groups and wallets
  packages/client/src/components/Title/index.tsx
  packages/client/src/routes/group.$groupId.index.tsx
  packages/client/src/routes/wallet.$walletId.index.tsx
Due: lint, prettier
