Repository vlad-iakovlev/expense: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: npm update
  package-lock.json
Due: prettier

chore: npm update (#540)
  package-lock.json
Due: prettier

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: npm update (#541)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#542)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#547)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#548)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#551)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#552)
  package-lock.json
Due: prettier

chore: npm update (#553)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#554)
  package-lock.json
  package.json
Due: prettier

feat: update serwist
  package-lock.json
  package.json
Due: prettier

fix: currency rates task
  .github/workflows/update-currency-rates.yml
Due: none

fix: offline auth
  app/sw.ts
  package-lock.json
  package.json
Due: lint, prettier

fix: offline auth
  app/sw.ts
Due: lint, prettier

feat: regenerate currencies
  bin/generate-currencies.mts
  constants/currencies.json
  package.json
Due: lint, prettier

feat: update sw config
  app/sw.ts
Due: lint, prettier

chore: npm update (#555)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#556)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#566)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#570)
  package-lock.json
  package.json
Due: prettier

refactor: app router for apis
  api/server/cron/index.ts
  api/server/invites/index.ts
  api/server/sync/index.ts
  app/api/cron/update-currency-rates/route.ts
  app/api/invites/accept/route.ts
  app/api/invites/create/route.ts
  app/api/sync/route.ts
  constants/errors.ts
  middleware/cron.ts
  middleware/error.ts
  middleware/rest.ts
  middleware/session.ts
  pages/api/cron/update-currency-rates.ts
  pages/api/invites/accept.ts
  pages/api/invites/create.ts
  pages/api/sync.ts
  types/next.d.ts
  utils/server/toErrorResponse.ts
Due: lint, prettier

refactor: simplify server errors handling
  api/server/invites/index.ts
  api/server/sync/index.ts
  app/api/cron/update-currency-rates/route.ts
  app/api/invites/accept/route.ts
  app/api/invites/create/route.ts
  app/api/sync/route.ts
  constants/errors.ts
  utils/server/HandledError.ts
  utils/server/getHandledError.ts
  utils/server/toErrorResponse.ts
Due: lint, prettier

chore: fix lint
  contexts/RootStore/hooks/useStorage/useCanLoadState.ts
Due: lint, prettier

Path conditions:
  lint: any of: *.{js,mjs,ts,mts,tsx}
  prettier: any of: *.{js,mjs,ts,mts,tsx,md,json}
