Repository vlad-iakovlev/expense: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: upgrade zod to v4
  api/server/invites/schemas.ts
  api/server/sync/schemas.ts
  package-lock.json
  package.json
Due: lint, prettier

chore: upgrade node to 22
  .github/workflows/ci.yml
  .github/workflows/update.yml
  Dockerfile
  package-lock.json
  package.json
Due: prettier

fix: rollback to @serwist/next@9.1.0
  package-lock.json
  package.json
Due: prettier

chore: update packages
  package-lock.json
Due: prettier

chore: upgrade tailwind to v4
  .github/dependabot.yml
  cards/OperationsList/ExpenseOperation.tsx
  cards/OperationsList/Group.tsx
  cards/OperationsList/IncomeOperation.tsx
  cards/OperationsList/TransferOperation.tsx
  cards/Statistics/Chart.tsx
  cards/WalletsList/Group.tsx
  components/common/Avatar.tsx
  components/common/AvatarGroup.tsx
  components/common/Button.tsx
  components/common/Card/Block.tsx
  components/common/Card/DateTime.tsx
  components/common/Card/Divider.tsx
  components/common/Card/Input.tsx
  components/common/Card/Item.tsx
  components/common/Card/Menu.tsx
  components/common/Card/Subtitle.tsx
  components/common/Card/Title.tsx
  components/common/Card/index.tsx
  components/common/Container.tsx
  components/common/CopyField.tsx
  components/common/CurrencyBadge.tsx
  components/common/Dialog.tsx
  components/common/Scrollable/index.tsx
  components/common/Switch.tsx
  components/layout/Header/User.tsx
  components/layout/Header/index.tsx
  components/layout/Page/index.tsx
  components/pages/Fallback.tsx
  components/pages/Home.tsx
  package-lock.json
  package.json
  pages/_document.tsx
  postcss.config.cjs
  styles/globals.css
  tailwind.config.cjs
Due: lint, prettier

fix: lefthook config
  eslint.config.mjs
  lefthook.yml
  postcss.config.js
Due: lint, prettier

chore: better name for prettier config
  eslint.config.mjs
  prettier.config.mjs
Due: none

chore: simplify ignores
  .prettierignore
  eslint.config.mjs
Due: none

chore: cleanup
  Dockerfile
  package.json
Due: prettier

chore: cleanup
  package-lock.json
Due: prettier

chore: codestyle
  prettier.config.mjs
Due: none

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: fix lint
  contexts/RootStore/getters/groups.ts
  hooks/useIsOnline.ts
Due: lint, prettier

chore: npm update (#454)
  contexts/RootStore/getters/groups.ts
  hooks/useIsOnline.ts
  package-lock.json
  package.json
Due: lint, prettier

chore: npm update (#455)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#457)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#459)
  package-lock.json
  package.json
Due: prettier

chore: npm update
  package-lock.json
Due: prettier

chore: npm update (#460)
  package-lock.json
Due: prettier

chore: use defineConfig
  eslint.config.mts
Due: none

chore: verbose eslint
  package.json
Due: prettier

chore: npm update (#462)
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier

chore: npm update (#465)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#466)
  package-lock.json
Due: prettier

chore: npm update (#468)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#469)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#471)
  package-lock.json
  package.json
Due: prettier

Path conditions:
  lint: any of: *.{js,ts,tsx}
  prettier: any of: *.{js,ts,tsx,md,json}
