Repository vlad-iakovlev/expense: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

pre-commit:
  commands:
    compile:
      run: npm run compile
    lint:
      glob: '*.{js,ts,tsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{js,ts,tsx,md,json}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

chore: npm update (#312)
  package-lock.json
  package.json
Due: prettier

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: npm update (#317)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#320)
  package-lock.json
  package.json
Due: prettier

feat: remove page transitions
  components/layout/PageTransition.tsx
  pages/_app.tsx
Due: lint, prettier

refactor: remove animation query
  cards/GroupCreate/index.tsx
  cards/GroupInfo/Settings.tsx
  cards/GroupMembers/Delete.tsx
  cards/GroupOpen/index.tsx
  cards/GroupSettingsGeneral/Delete.tsx
  cards/OperationInfo/Delete.tsx
  cards/OperationsList/Add.tsx
  cards/OperationsList/Operation.tsx
  cards/WalletInfo/Settings.tsx
  cards/WalletSettingsGeneral/Delete.tsx
  cards/WalletsList/Add.tsx
  cards/WalletsList/Wallet.tsx
  components/common/Breadcrumbs.tsx
  components/layout/Header/Logo.tsx
Due: lint, prettier

chore: npm update (#322)
  package-lock.json
  package.json
Due: prettier

chore: npm update
  package-lock.json
Due: prettier

chore: npm update (#324)
  package-lock.json
Due: prettier

chore: disable eslint upgrade
  .github/dependabot.yml
Due: none

chore: disable default-import upgrade
  .github/dependabot.yml
Due: none

fix: exchange rates
  .github/workflows/update-currency-rates.yml
  api/server/cron/index.ts
Due: lint, prettier

chore: npm update (#331)
  package-lock.json
  package.json
Due: prettier

fix: query params access
  pages/groups/[groupId]/index.tsx
  pages/groups/[groupId]/settings.tsx
  pages/invites/[token].tsx
  pages/operations/[operationId].tsx
  pages/wallets/[walletId]/index.tsx
  pages/wallets/[walletId]/settings.tsx
Due: lint, prettier

chore: npm update (#332)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#333)
  package-lock.json
Due: prettier

chore: update action in update workflow
  .github/workflows/update.yml
Due: none

chore: update actions in ci workflow
  .github/workflows/ci.yml
Due: none

chore: npm update (#334)
  package-lock.json
Due: prettier

chore: npm update (#337)
  package-lock.json
  package.json
Due: prettier

chore: switch to AGPL
  LICENSE
Due: none

chore: update README.md
  README.md
Due: prettier

chore: npm update (#339)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#340)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#341)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#342)
  package-lock.json
Due: prettier
